$primary: #237BFF;

$dark2-80: #272A30;

$dark-100: #111315;
$dark-80: #1A1C1E;
$dark-50: #26262E;

$gray-100: #323435;
$gray-50: #72767A;

$light: #F7F7F7;

//controls
$control-background: #323435;
$control-content: #72767A;