@use 'colors' as colors;

$sidebar-max-size: 300px;
$sidebar-min-size: 100px;

.sidebar-menu {
    padding: 1rem;
    width: $sidebar-min-size;

    background-color: colors.$dark2-80;

    transition: .2s;

    &.active {
        width: $sidebar-max-size;
    }
}

.content {
    width: calc(100% - $sidebar-min-size);

    background-color: colors.$dark-100;

    transition: .2s;

    &.active {
        width: calc(100% - $sidebar-max-size);
    }
}

:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}