.d-flex {
    display: flex;
}

.fd-row {
    flex-direction: row;
}

.fd-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;    
}

.aling-items-center {
    align-items: center;
}
