@use 'colors' as colors;

button.btn {
    border-radius: 6px;
    height: 2rem;
    padding: 0rem 1rem;

    font-weight: bold;
    font-family: 'Roboto';

    cursor: pointer;
}

button.btn.primary{
    color: colors.$light;
    background-color: colors.$primary;
}

.btn-group {
    display: flex;
    gap: 10px;
}